# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
djvenv/

# Database
db.sqlite3

# Environment Variables
.env

# Media Files
media/

# IDE
.idea/
.vscode/

# Static Collection
staticfiles/